.lignheight-normal {
  color: #113b5e !important;
  font-size: 10px !important;
  position: absolute;
  line-height: normal;
  left: 20px;
  top: 4px;
}

.member-profile-container {
  max-width: 1300px;

  .row {
    margin: 0 -5px;

    > div {
      padding: 0 5px;
    }
  }
}
.dasds {
  color: #113b5e !important;
  font-weight: 700 !important;
  position: relative;
}
i.fa.fa-share.ml-1.iconclo.rotate180 {
  position: absolute;
  top: 4px;
}

i.fa.fa-share.mr-1.iconclo {
  position: absolute;
  left: -16px !important;
  top: -1px !important;
}
.Join_Journey {
  margin-left: 19px;
}

// .project_cat {
//   margin-left: 34px !important;
// }
.edit-profile-input {
  position: relative;
  display: inline-block;

  > input {
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    left: 0;
    cursor: pointer;
    top: 0;
  }

  > img {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    position: fixed;
  }

  > i {
    position: absolute;
    right: 0;
    bottom: 3px;
    font-size: 18px;
    color: #000;
  }
}

.button-cover {
  display: inline-block;

  .knobs,
  .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .button {
    position: relative;
    width: 74px;
    height: 36px;
    overflow: hidden;
  }

  .button.r,
  .button.r .layer {
    border-radius: 100px;
  }

  .button.b2 {
    border-radius: 2px;
  }

  .checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }

  .knobs {
    z-index: 2;
  }

  .layer {
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
  }
}

/* Button 1 */
#button-1 .knobs:before {
  content: 'YES';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 28px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: #03a9f4;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox:checked + .knobs:before {
  content: 'NO';
  left: 42px;
  background-color: #f44336;
}

#button-1 .checkbox:checked ~ .layer {
  background-color: #fcebeb;
}

#button-1 .knobs,
#button-1 .knobs:before,
#button-1 .layer {
  transition: 0.3s ease all;
}

.journey-tags .tag::after {
  content: '';
  display: none;
}

.journery_name {
  position: relative;
  margin-top: -71px;
  margin-bottom: 10px;
  text-align: left;
  max-width: 400px;
}

.journer-name-block {
  display: block;
  text-transform: capitalize;
}

@media (max-width: 991px) {
  .journery_name {
    position: relative;
    margin-top: 0;
    text-align: center;
    margin: 0px auto;
    max-width: 600px;
  }
}

@media (max-width: 767px) {
  .boxpadding {
    padding-bottom: 39px !important;
  }
  .product--info.text-centers.d-flex {
    height: 100px !important;
  }
}

.tb-middle td {
  vertical-align: middle;
}
.tb-middle .btn:before {
  display: none;
}
.userlist-height {
  height: 100vh;
}
