.main {
  height: 60vh;
  background-color: #bae7ff;
  transform: translateZ(0);
  overflow: scroll;
}

.bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  transform: translateX(0%);
}

.title {
  text-align: center;
  padding: 2%;
  background-color: #91d5ff;
  color: #efefef;
}
